<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tra Cứu Sách</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body style="background-image: url('../static/images/wave.png');">
    <div class="container">
        <h1 class="text-center text-danger">DANH SÁCH CÁC LOẠI SÁCH
            <a class="badge badge-primary" href=" {{ url_for('payment') }} " id="cart-info"></a>
        </h1>
        <div>
            <form>
                <div class="form-group">
                    <input class="form-control"
                           name="kw"
                           placeholder="Nhập từ khóa để tìm..." />
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="number"
                               name="from_price"
                               class="form-control"
                               placeholder="Nhập giá bắt đầu..." />
                    </div>
                    <div class="col-md-6 form-group">
                        <input type="number"
                               name="to_price"
                               class="form-control"
                               placeholder="Nhập giá kết thúc..." />
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Tìm kiếm" class="btn btn-danger" />
                </div>
            </form>
        </div>
        <table class="table">
            <tr>
                <th></th>
                <th><h5>Id</h5></th>
                <th><h5>Name</h5></th>
                <th><h5>Price</h5></th>
                <th></th>
            </tr>
            {% for p in books %}
            <tr>
                <td>
                    <img width="120" src="{{ url_for('static', filename=p.image) }}" alt="{{ p.name }}" />
                </td>
                <td> <h5>{{ p.id }}</h5> </td>
                <td>
                    <a href="{{ url_for('book_detail', book_id=p.id) }}"><h5 class="text-dark">{{ p.name }}</h5></a>
                </td>
                <td> <h5>{{ "{:,.1f}".format(p.price) }} VNĐ</h5></td>
                <td>
                    <a href="javascript:;"
                       onclick="addToCart({{ p.id }}, '{{p.name}}', {{ p.price }})"><h5>Đặt hàng</h5></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>