<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
</head>
<body>
    <section class="about-sec">
        <div class="about-img">
            <figure style="background-image: url('../static/images/about-img.jpg');"></figure>
            <figure style="background-image: url('../static/images/about-img.jpg');"></figure>
            <figure style="background-image: url('../static/images/about-img.jpg');"></figure>
        </div>
        <div class="about-content">
            <h1>The Privay Policy Of Our LT BOOKSTORE</h1>
            <p><h3>I. Confidential Information.</h3></p>
            <p>Customer information security is one of the top priorities to create the best shopping conditions for you at LT BOOKSTORE. We understand that proper use and confidentiality will reflect LTBOOKSTORE's interest to you. Therefore, LT BOOKSTORE commits that the use of the above information will only aim at improving the quality of customer service and creating a safe and convenient shopping environment at LT BOOKSTORE. Specifically, your personal information is only used for the following purposes:</p>
            <p>1. Your phone number and email address are used to improve the quality of customer support services.</p>
            <p>2. Your address is only used for LT BOOKSTORE to fulfill the delivery that you have placed on the website longthobookstore.com.</p>
            <p>3. Your buying behavior only helps LT BOOKSTORE create a better shopping experience for you.</p>
            <p><h3>II. LT BOOKSTORE is committed to protecting customers' information.</h3></p>
            <p>LT BOOKSTORE undertakes not to sell or share, leading to disclosure of your personal information for any purpose. All transaction information between you and LT BOOKSTORE will be secured via Secure Sockets Layer (SSL) software by encrypting all information you enter.</p>
            <p>LT BOOKSTORE undertakes not to record any of your bank account information, credit card information and financial information.</p>
            <p><h3>III. Responsibility of the customer.</h3></p>
            <p>You should not exchange your account information, payment or delivery information with any other third party to avoid information leakage. When using the same computer with many people, please log out of your account when you no longer use LT BOOKSTORE service to protect your password information.</p>
            <p>In addition, you absolutely must not use any form to interfere in the system or change data structure. We strictly prohibit the dissemination, dissemination or encouragement of any activity to interfere, sabotage or data infiltration of website system. All violations will be deprived of all rights and will be prosecuted before the law if necessary. All your information at LT BOOKSTORE will be kept confidential by us, but in cases where required by law, we are required to provide this information to the law enforcement agency.</p>
            <p>LT BOOKSTORE understands that your rights in the protection of personal information are also LTBOOKSTORE's responsibility, so in any case of any questions or comments relating to LTBOOKSTORE's privacy policy, please contact generation:</p>
            <p><h6>Tel: 123 456 789</h6></p>
            <p><h6>Email: longtho@bookstore.com</h6></p>

            <div class="btn-sec">
                <a href="{{ url_for('index') }}" class="btn yellow">back</a>
            </div>
        </div>
    </section>
</body>
</html>